/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: #ed4c5c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrap {
  max-width: 1110px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-wrap {
  background: url(../img/bg-head.jpg) top center no-repeat;
  background-size: cover;
}

.header-wrap-color {
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
  padding: 50px 0 200px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 175px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu li a {
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
}

.transparent-btn {
  padding: 10px 30px;
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 6px;
}

.header-content {
  text-align: center;
  color: #fff;
}

.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin-bottom: 40px;
}

.header-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 60px;
}

.white-btn {
  padding: 10px 30px;
  color: #ed4c5c;
  font-size: 0.875rem;
  text-transform: uppercase;
  background: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.about-wrap {
  padding: 100px 0;
}

.about-block {
  display: flex;
}

.about-block-left,
.about-block-right {
  width: 42%;
  margin-right: 8%;
  align-self: center;
}

.about-block-left h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.about-block-left p {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
